.element {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin: 10px;
    overflow: hidden;
    height: 50px;
    margin: 2%;
  }

.descrizione {
    font-family: sans-serif;
    margin: 5%;
    margin-left: -5px;
  }

button{
    margin: 2%;
    min-width: 120px;
    box-shadow: 0 5px 5px -3px rgba(179, 183, 238, 0.842),
    0 4px 5px 0px rgba(179, 183, 238, 0.842),
    0 2px 7px 0px rgba(179, 183, 238, 0.842);
  }

.descrizione{
    font-family: inherit;
    font-size: medium;
    color: blue;
    padding-top: 0;
    padding-bottom: 0;
    }