.element {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin: 10px;
    overflow: hidden;
    height: 50px;
    margin: 2%;
  }

#ElementoCreato{
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3%;
}

.descrizione{
    font-family: inherit;
    font-size: medium;
    color: blue;
    padding-top: 0;
    padding-bottom: 0;
    margin: -2%;
    margin-left: -12px;
    }

.chiudi{
  font-size: 10px;
  background-color: white;
  margin: 5%;
  margin-left: 10%;
  border-style: none;
  height: 20px;
  width: 25px;
  border-left-color: red;
  border-left-style: solid;
}

.modifica{
  font-size: 10px;
  background-color: white;
  margin: 5%;
  border-style: none;
  height: 20px;
  width: 25px;
  margin-left: 10%;
  border-left-color: green;
  border-left-style: solid;
}

.dettaglio{
  font-size: 10px;
  background-color: white;
  margin: 5%;
  border-style: none;
  height: 20px;
  width: 25px;
  margin-left: 10%;
  border-left-color: orange;
  border-left-style: solid;
}

.box-element {
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  align-items: center;
  background:white;
  border-radius: 8px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  margin: 4px;
  box-sizing: border-box;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  resize: both;
  overflow: unset;
  width: 250px;
  height: 250px;
  min-width: 170px;;
  min-height: 50px;
  overflow-y: scroll;

}
.destra{
  float:right;
  margin:2px;
}

.sinistra{
  float:left;
  margin:2px;
}

.btn{
  min-width: 120px;
  margin: -7%;
  box-shadow: 0 5px 5px -3px rgba(179, 183, 238, 0.0), 0 4px 5px 0px rgba(179, 183, 238, 0), 0 2px 7px 0px rgba(179, 183, 238, 0.842);
  border-right-style: none;
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: solid;
  border-left-width: 5px;
  height: 100px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

td{
  margin-bottom: 20%;
}

.separatore{
  margin: 15%;
}

table{
  border-bottom-color: grey;
}

.posIcon{
  display:none;
}

.example-list {
  width: 250px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 450px;
}

.example-box {
  padding: 20px 10px;
  border-left-color:transparent;
  color:black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  background: white;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: -5px;
  width: 250px;
  height: 45px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.example-list::-webkit-scrollbar {
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 7px;
  }

.example-list::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 20px;
  width: 7px;
}

.example-list::-webkit-scrollbar-thumb {
  background-color: orange;
  border: 1px solid orange;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 7px;
}
