
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <!-- inizio a fare il drag and drop -->
 <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box " *ngFor="let ele of elemento" cdkDrag id="{{ele.IdElemento}}" 
      (click)="catturaId(ele.IdElemento)"
      (mouseover)="colorescritta(ele.IdElemento, ele.NomeElemento)" 
      (mouseleave)="coloreOriginale(ele.IdElemento, ele.NomeElemento)" >{{ele.NomeElemento}}
      <div id="{{ele.NomeElemento}}" class="contenitoreIcone">
    <button class="posIconModifica" id="bottoneModifica{{ele.IdElemento}}"
           (click)="ModificaElemento(ele)"
           (mouseover)="coloreIconaModifica('bottoneModifica'+ele.IdElemento)" 
           (mouseleave)="coloreIconaModificaOrig('bottoneModifica'+ele.IdElemento)">
           <i class="fa fa-cog"></i>
    </button>
    <button class="posIconDettaglio" id="bottoneDettaglio{{ele.IdElemento}}"
           (click)="dettaglioElemento(ele.DescrizioneElemento)"
           (mouseover)="coloreIconaDettaglio('bottoneDettaglio'+ele.IdElemento)" 
           (mouseleave)="coloreIconaDettaglioOrig('bottoneDettaglio'+ele.IdElemento)">
        <i class="fa fa-info"></i>
  </button>
    <button class="posIconElimina" id="bottoneElimina{{ele.IdElemento}}"
           (click)="DeleteElemento(ele.IdElemento)"
           (mouseover)="coloreIconaElimina('bottoneElimina'+ele.IdElemento)" 
           (mouseleave)="coloreIconaEliminaOrig('bottoneElimina'+ele.IdElemento)">
        <i class="fa fa-times-circle"></i>
  </button>
</div>
</div> 


  <!-- </div> -->
   <!-- <div class="col-sm-2 destra"> -->

    <!-- <button class="chiudi" (click)="DeleteElemento(ele)">X</button><hr class="separatore">
    <button class="modifica" (click)="ModificaElemento(ele.IdElemento)">Edit</button><hr class="separatore">
    <button class="dettaglio" (click)="dettaglioElemento(ele.DescrizioneElemento)">Dettaglio</button><hr class="separatore"> -->
  <!-- </div>   -->
</div>

