.cancella{
    float: right;
    margin-right: 0%;
    border: none;
    background: azure;
    font-size: 20px;
    padding: inherit;
    margin-top: -15px;
    margin-right: -5px;
    background-color: white
}

.dimensioneSpan{
    width: 15px;
    height: 15px;
    margin: auto;
    display:inline-block;
    border: 1px solid grey;
    border-radius: 2px;
}

.colore{
    width: 30px;
    height: 30px;
    border-style: none;
    border-radius: 10px;
    margin-left: -7px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.divColore {
    margin-left:-7px;
}