
<div div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
<div class="card scroll " style="width: 265px; background-color:lavender;" *ngFor = "let cont of contenitoriAperti " id="{{cont.id}}" cdkDrag>
  <h5 class="card-title">{{cont.nome}}</h5>
  <button  class="btn btn-primary cancella" (click)="chiudiContainer(cont.id)">&times;</button>
  <button class="fa fa-ellipsis-h menu" aria-hidden="true" (click)="mostraMenu(cont.id+cont.nome)"></button>
  
  <div id = "{{cont.id}}{{cont.nome}}" hidden="hidden" class="divFiltri"> 
      <app-menu-filtri-contenitore [idContenitoreDiAppartenenza]= "cont.id"></app-menu-filtri-contenitore>
    
  </div> 
  <div class="card-body list-group" id="ListaElementi">
      <app-element style="background-color: transparent ; border-style: none" [edit]= "abilitaDisabilita" class="list-group-item"  [idContenitoreAperto]="cont.id" [listaElementi]="service.listaElementi" (IdElemento)="aggiungiIdElementoALista($event)" ></app-element >
 </div>

</div>
</div>


<div>
<input id="EDIT" type="button" class="btn btn-primary"  (click)= "abilitaAssociazione()" value="EDIT MODE">
</div>
<div>
  <button id="CreaAss" type="button" class="btn btn-primary" (click)="creaAssociazione()" hidden="hidden">Crea Associazione</button>
  <button id="DisAss" type="button" class="btn btn-primary" (click)="distruggiAssociazione()" hidden="hidden">Elimina Associazione</button>
</div>






