
<div class="titolo"  cdkDrag cdkDragBoundary=".work-container" *ngFor = "let cont of contenitoriAperti " id="{{cont.id}}" > 

      <div cdkDragHandle>
          <svg width="20px" fill="currentColor" viewBox="0 0 24 24" style="float:left ; margin-left: 8px ; margin-top: 8px">
            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
         </div>
     <h3 style="float:left ; margin-left: 2%" >      
      {{cont.nome}}
      </h3>
      <span class="dimensioneSpan" [ngStyle]="{'background-color': cont.colore}"></span>
      <button  class="cancella" (click)="chiudiContainer(cont.id)">&times;</button> 
      <div class="box-element" >
        <div class="row">
        <app-element [edit]= "abilitaDisabilita"  [idContenitoreAperto]="cont.id" [listaElementi]="service.listaElementi" (IdElemento)="aggiungiIdElementoALista($event)" ></app-element >
        </div>
      </div>
      </div>

<div>
<button id="EDIT" type="button" class="btn btn-primary"  (click)= "abilitaAssociazione()">EDIT MODE</button>
</div>
<div class="container">
<div id = "Legenda">
    <button  id="Legenda" class="btn btn-primary" (mouseover)="mostraLegenda()" (mouseleave)="nascondiLegenda()" > Legenda</button>
    <div id = "legenda" hidden="hidden"  class="toolTip">
        <button class="btn btn-primary" style ="background-color:red"></button> Elemento Selezionato <br>
        <button class="btn btn-primary" style ="background-color:yellow"></button> Elemento Associato <br>
        <button class="btn btn-primary" style ="background-color:green"></button> Elemento Da Associare (Edit Mode) 
      </div>
</div>

</div>
<div>
  <button id="CreaAss" type="button" class="btn btn-primary" (click)="creaAssociazione()" hidden="hidden">Crea Associazione</button>
</div>





