<router-outlet>
  <div class="work-container">
    <table>
      <tr app-container-associated="contenitoriAperti" class="work-container"  [contenitoriAperti]="contenitoriAperti" (idContenitoreChiuso)= "cancellaIdDaLista($event)">
      </tr>
    </table>
  </div>
  
  <div class="colonna">
  <table style="float: right">
    <tr>
      <td>
        <app-component-list [ListaContenitore] = "listaContenitori" (container)="getIdByList($event)" [idDelete]="idDaCancellare" (idCancellato)="resettaidDaCancellare($event)" ></app-component-list>
      </td>
    </tr>
  </table>
<app-registro-associazioni></app-registro-associazioni>
</div>
</router-outlet>

