<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">DALmenager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/style" routerLinkActive="active">Aggiungi Elemento</a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>
<!-- <h1 [ngClass]="{bottom: classe, top: !classe}" (click)="classe = !classe">ciao</h1> -->
<router-outlet>
  
    <div class="work-container"  >
  <app-container-associated  [contenitoriAperti]="contenitoriAperti" (idContenitoreChiuso)= "cancellaIdDaLista($event)"></app-container-associated>
    </div>

  <div class="colonna">
  <table style="position: fixed right">
    <tr>
      <td>
        <app-component-list [ListaContenitore] = "listaContenitori" (container)="getIdByList($event)" [idDelete]="idDaCancellare"></app-component-list>
      </td>
    </tr>
  </table>
</div>
<app-registro-associazioni></app-registro-associazioni>

</router-outlet>
